@model v1Remastered.Dto.UserDetailsDto_UserProfile

@{
    var currMonthYear = DateTime.Now.ToString("yyyy-MM-dd");

    DateTime d1BookingDate = (DateTime)ViewBag.D1BookedDate;
    // Add 30 days
    DateTime d1BookingDatePlus30 = d1BookingDate.AddDays(30);
    // Convert to string in the required format
    var d2BookingDateLowerLimit = d1BookingDatePlus30.ToString("yyyy-MM-dd");

    @* format UID *@
    string Uid = @Model.UserUid;
    string FormattedUid = string.Format("{0}-{1}-{2}-{3}",
    Uid.Substring(0, 3),
    Uid.Substring(3, 3),
    Uid.Substring(6, 3),
    Uid.Substring(9, 3));
}

<style>
    body {color: #FFF6E9;}
</style>


<div class="container">

    @* 1st row: identity details *@
    <div class="row justify-content-center mt-3">
        <div style="border-bottom: 1px solid #E6E9AF;" class="user-details-identity col col-lg-6 col-md-12 col-sm-12 d-flex justify-content-between">
            
            @* user name *@
            <h3> 
                @if(@Model.UserRole == false)
                {
                    <i class="fas fa-user"></i>
                }
                else
                {
                    <i class="fas fa-user-shield"></i>
                } 
                @Model.Username 
            </h3>

            @* user id *@
            <h3> 
                <i class="fas fa-id-badge"></i> 
                @Model.UserId 
            </h3>

        </div>
    </div>

    @* 2nd row: personal details *@
    <div class="user-details-personal row justify-content-center mt-5">
        <div class="col col-lg-8 col-md-12 col-sm-12 justify-content-center">

            @* section header *@
            <div>
                <h5 class=""> <i class="fas fa-user"></i> Personal Details </h5>
            </div>

            @* personal details and profile picture *@
            <div class="d-flex justify-content-between">
                @* personal details *@
                <div class="mt-4">

                    @* user unique id *@
                    <div style="">
                        <span style="font-weight: 600;"> <i class="fas fa-id-card"></i> Unique ID: </span>
                        <b>@FormattedUid</b>
                    </div>
                    
                    @* user gender *@
                    <div style=">
                        <span style=" font-weight: 600;"> <i class="fas fa-venus-mars"></i> Gender: </span>
                        @if (Model.UserGender == "M")
                        {
                            <span><b>Male</b></span>
                        }
                        @if (Model.UserGender == "F")
                        {
                            <span><b>Female</b></span>
                        }
                        @if (Model.UserGender == "O")
                        {
                            <span><b>Other</b></span>
                        }
                    </div>

                    @* user contact *@
                    <div class="d-flex">
                        <span style=" font-weight: 600;"> <i class="fas fa-phone"></i> Contact: </span>
                        <div id="userphone-non-editable-field" class="mx-2">
                            <b>@Model.UserPhone</b>
                            <button id="userphone-enable-edit"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                        <div id="userphone-editable-field" class="mx-2" style="display: none;">
                            <div class="d-flex">
                                <form id="update-userphone-form" method="post">
                                    <div class="d-flex">
                                        <input type="text" class="form-control" id="update-userphone-value" name="" maxlength="10" value="@Model.UserPhone">
                                        <button id="update-userphone-submit" class="mx-2"><i class="fas fa-check"></i></button>
                                    </div>
                                </form>
                                <button id="userphone-disable-edit" class=""><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>

                    @* user birthdate *@
                    <div class="d-flex">
                        <span style="font-weight: 600;"><i class="fas fa-birthday-cake"></i> Date of Birth:</span>
                        <div id="userbirthdate-non-editable-field" class="mx-2">                            
                            <b>@Model.UserBirthdate.ToString("yyyy-MM-dd")</b>
                            <button id="userbirthdate-enable-edit"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                        <div id="userbirthdate-editable-field" class="mx-2" style="display: none;">
                            <div class="d-flex">
                                <form id="update-userbirthdate-form" method="post">
                                    <div class="d-flex">
                                        <input type="date" class="form-control" id="update-userbirthdate-value" name="" max="@currMonthYear" placeholder="@Model.UserBirthdate.ToString("yyyy-MM-dd")">
                                        <button id="update-userbirthdate-submit" class="mx-2"><i class="fas fa-check"></i></button>
                                    </div>
                                </form>
                                <button id="userbirthdate-disable-edit" class=""><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>                
                </div>

                @* profile picture *@
                <div>
                    @if (!string.IsNullOrEmpty(Model.ProfilePicturePath))
                    {
                        <div>
                            <img class="user-profile-img" style="box-shadow:0px 0px 10px gainsboro; width: 150px; height: 150px;" src="../@Model.ProfilePicturePath" alt="Profile Picture"/>
                        </div>
                        <div class="text-center" style="margin-top: -30px;">
                            <button id="user-profile-enable-edit" onclick="triggerFileInput()"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                        <div>
                            <form id="user-edit-profile-form" action="post">
                                <input type="file" class="form-control user-edit-profile-field" id="profileImage" name="profileImage" accept="image/*" style="display: none;" onchange="handleFileChange(event)">
                            </form>
                        </div>   
                    }
                    else
                    {
                        <div class="mb-2">
                            <span style="color: white;">No profile picture uploaded</span>
                        </div>
                        
                    }
                </div>
            </div>

        </div>
    </div>

    @* 3rd row: vaccination details *@
    <div class="user-details-vaccination row justify-content-center mt-5">
        <div class="col col-lg-8 col-md-12 col-sm-12 justify-content-center">

            @* section header *@
            <div>
                <h5 class=""> <i class="fas fa-notes-medical"></i> Vaccination Details </h5>
            </div>
            
            @* vaccination details *@
            <div class="mt-3 d-flex justify-content-between">
                @* user vaccinaion id *@
                <div style="">
                    <span style="font-weight: 600;">
                        <i style="color: yellow; text-shadow: 0px 1px 10px yellow;" class="fas fa-bookmark"></i> Vaccination ID <br>
                    </span>
                    @Model.UserVaccineDetails.UserVaccinationId
                </div>

                 @* user vaccination status *@
                <div style="">
                    <span style="font-weight: 600; ">
                        @if (Model.UserVaccineDetails.UserVaccinationStatus.ToLower() == "vaccinated")
                        {
                            <i style="color:lime; text-shadow: 0px 1px 10px lime;" class="fas fa-wifi"></i>
                        }
                        else if (Model.UserVaccineDetails.UserVaccinationStatus.ToLower() == "partially vaccinated")
                        {
                            <i style="color:yellow; text-shadow: 0px 1px 20px yellow;" class="fas fa-wifi"></i>
                        }
                        else
                        {
                            <i style="color:red; text-shadow: 0px 1px 20px red;" class="fas fa-wifi"></i>
                        }
                        Vaccination Status <br>
                    </span>
                    @Model.UserVaccineDetails.UserVaccinationStatus
                </div>

                @* user dose 1 approval date *@
                <div style="">
                    <span style="font-weight: 600;">
                        @if (Model.UserBookingDetails.Dose1ApproveDate == DateTime.MinValue)
                        {
                            <i style="color: red; text-shadow: 0px 1px 10px red;" class="fas fa-exclamation"></i>
                        }
                        else
                        {
                            <i style="color: lime; text-shadow: 0px 1px 10px lime;" class="fas fa-check"></i>
                        }
                        Dose 1 Approve
                    </span>
                    <br>
                    @if (Model.UserBookingDetails.Dose1ApproveDate == DateTime.MinValue)
                    {
                        <p>NA</p>
                    }
                    else
                    {
                        @Model.UserBookingDetails.Dose1ApproveDate.ToString("yyyy-MM-dd")
                    }
                </div>

                @* user dose 2 approval date *@
                <div style="">
                    <span style="font-weight: 600;">
                        @if (Model.UserBookingDetails.Dose2ApproveDate == DateTime.MinValue)
                        {
                            <i style="color: red; text-shadow: 0px 1px 10px red;" class="fas fa-exclamation"></i>
                        }
                        else
                        {
                            <i style="color: lime; text-shadow: 0px 1px 10px lime;" class="fas fa-check"></i>
                        }
                        Dose 2 Approve
                    </span>
                    <br>
                    @if (Model.UserBookingDetails.Dose2ApproveDate == DateTime.MinValue)
                    {
                        <p>NA</p>
                    }
                    else
                    {
                        @Model.UserBookingDetails.Dose2ApproveDate.ToString("yyyy-MM-dd")
                    }
                </div>

            </div>

        </div>
    </div>

    @* 4th row: booking details *@
    <div class="user-details-booking row justify-content-center mt-5">
        <div class="col col-lg-8 col-md-12 col-sm-12 justify-content-center">

            @* section header *@
            <div>
                <h5 class=""> <i class="fas fa-book-medical"></i> Booking Details </h5>
            </div>

            @* booking details *@
            <div class="mt-3">
                @* user booking id *@
                <div>
                    <span>
                        <i style="color: yellow; text-shadow: 0px 1px 10px yellow;" class="fas fa-bookmark"></i>
                        Booking ID : @if(string.IsNullOrEmpty(Model.UserBookingDetails.BookingId)){ <span>NA</span> } else { @Model.UserBookingDetails.BookingId }
                    </span>
                </div>

                <div class="d-flex justify-content-between">
                    <div>
                        @* dose 1 date *@
                        <div class="mt-2">
                            <span style="font-weight: 600;">
                                <i class="fas fa-calendar-alt"></i> Dose 1 Date :
                                @if (Model.UserBookingDetails.Dose1BookDate == DateTime.MinValue)
                                {
                                    <span>NA</span>
                                }
                                else
                                {
                                    @Model.UserBookingDetails.Dose1BookDate.ToString("yyyy-MM-dd")
                                }
                            </span>
                        </div>

                        @* dose 1 vaccine center *@
                        <div class="mt-2">
                            <span style="font-weight: 600;">
                                <i class="fas fa-hospital"></i> Dose 1 Center Name : @ViewBag.D1HospitalName
                            </span>
                            @* @Model.UserBookingDetails.D1HospitalId *@
                            
                        </div>

                        @* dose 1 slot number *@
                        <div class="mt-2">
                            <span style="font-weight: 600;">
                                <i class="fas fa-sort-numeric-up"></i> Dose 1 Slot Number :
                                @if (Model.UserBookingDetails.D1SlotNumber == -1)
                                {
                                    <span>NA</span>
                                }
                                else
                                {
                                    @Model.UserBookingDetails.D1SlotNumber
                                }
                            </span>
                        </div>
                    </div>

                    <div>
                        @* dose 2 date *@
                        <div class="mt-2">
                            <span style="font-weight: 600;">
                                <i class="fas fa-calendar-alt"></i> Dose 2 Date :
                                @if (Model.UserBookingDetails.Dose1BookDate == DateTime.MinValue)
                                {
                                    <span>NA</span>
                                }
                                else
                                {
                                    @Model.UserBookingDetails.Dose1BookDate.ToString("yyyy-MM-dd")
                                }
                            </span>
                        </div>

                        @* dose 2 center *@
                        <div class="mt-2">
                            <span style="font-weight: 600;">
                                <i class="fas fa-hospital"></i> Dose 2 Center Name : @ViewBag.D2HospitalName
                            </span>
                            @* @Model.UserBookingDetails.D2HospitalId *@
                        </div>

                        @* dose 2 vaccine center *@
                        <div class="mt-2">
                            <span style="font-weight: 600;">
                                <i class="fas fa-sort-numeric-up"></i> Dose 2 Slot Number :
                                @if (Model.UserBookingDetails.D2SlotNumber == -1)
                                {
                                    <span>NA</span>
                                }
                                else
                                {
                                    @Model.UserBookingDetails.D2SlotNumber
                                }
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>

    @* 5th row: action buttons *@
    <div class="text-center mt-5">

        @* button: book slots updated logic *@

        @* dose 1 not booked and approved *@
        @if(ViewBag.IsD1Booked == false && ViewBag.IsD1Approved == false)
        {
            // display button for dose 1
            @if(ViewBag.AvailableHospitalLocations.Count > 0)
            {
                <button type="button" class="slot-book-submit" data-bs-toggle="modal" data-bs-target="#dose1Book">
                    Book Slot 1
                </button>
            }
            else if(ViewBag.AvailableHospitalLocations.Count <= 0)
            {
                <br> 
                <button type="button" disabled  style="border-radius: 10px;" class="mt-3 btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#dose1Book">
                    <span style="font-size: 15px;">No Slots Available Now</span>
                </button>
            }
        }

        @* dose 1 booked and not approved *@
        else if(ViewBag.IsD1Booked == true && ViewBag.IsD1Approved == false)
        {
            // display message to wait till dose 1 approval
            <button type="button" disabled  style="border-radius: 10px;" class="mt-3 btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#dose2Book">
                <span style="font-size: 15px;">Waiting for booked dose approval</span>
            </button>
        }

        @* dose 1 booked, approved but dose 2 not booked *@
        else if((ViewBag.IsD1Booked == true && ViewBag.IsD1Approved == true) && ViewBag.IsD2Booked == false)
        {
            // display button for dose 2
            <button type="button" class="slot-book-submit" data-bs-toggle="modal" data-bs-target="#dose2Book">
                Book Slot 2
            </button>
        }

        @* dose 2 booked and not approved *@
        else if(ViewBag.IsD2Booked == true && ViewBag.IsD2Approved == false)
        {
            // display message to wait till dose 2 approval
            <button type="button" disabled  style="border-radius: 10px;" class="mt-3 btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#dose2Book">
                <span style="font-size: 15px;">Waiting for booked dose approval</span>
            </button>
        }

        else if(ViewBag.IsD2Booked == true && ViewBag.IsD2Approved == true)
        {
            // display message that you're vaccinated
            <button type="button" disabled  style="border-radius: 10px;" class="mt-3 btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#dose2Book">
                <span style="font-size: 15px;">Yay... you're vaccinated.</span>
                <img src="/assets/celebration-icon.png" style="height: 25px; width: 25px;" alt="celebration-icon">
            </button>
        }

        else
        {
            // do nothing
        }
        
    </div>

    @* 6th row: modals *@
        
    @* modal: slot booking: dose 1 *@
    <div>
        <div class="modal" id="dose1Book" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Book Dose 1 Slot</h5> <br>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="SlotBookForm" method="post" enctype="multipart/form-data">
                            <label for="Dose1BookDate">Dose 1 Date</label>
                            <input type="date" class="form-control book-form-input" min="@currMonthYear" name="dose1Date" id="Dose1BookDate">

                            <label class="mt-2" for="HospitalLocationD1">Hospital Location</label>
                            <select class="form-control book-form-input" name="hospitalLocation" id="HospitalLocationD1">
                                <option value="">Select Hospital Location</option>
                                @foreach(var location in ViewBag.AvailableHospitalLocations)
                                {
                                    <option value="@location">@location</option>
                                }
                            </select>

                            <label class="mt-2" for="HospitalIdD1">Hospital Name</label>
                            <select class="form-control book-form-input" name="hospitalId" id="HospitalIdD1">
                                <option value="">Select Hospital Name</option>
                            </select>

                            <button type="submit" id="SaveSlotBookFormD1" class="book-form-submit mt-3">Book Slot</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @* modal: slot booking: dose 2 *@
    <div>
        <div class="modal" id="dose2Book" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Book Dose 2 Slot</h5> <br>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="SlotBookFormD2" method="post" enctype="multipart/form-data">
                            <label for="Dose2BookDate">Dose 2 Date</label>
                            <input type="date" class="form-control book-form-input" min="@d2BookingDateLowerLimit" name="dose2Date" id="Dose2BookDate">

                            <label class="mt-2" for="HospitalLocationD2">Hospital Location</label>
                            <select class="form-control book-form-input" name="hospitalLocation" id="HospitalLocationD2">
                                <option value="">Select Hospital Location</option>
                                @foreach(var location in ViewBag.AvailableHospitalLocations)
                                {
                                    <option value="@location">@location</option>
                                }
                            </select>

                            <label class="mt-2" for="HospitalIdD2">Hospital Name</label>
                            <select class="form-control book-form-input" name="hospitalId" id="HospitalIdD2">
                                <option value="">Select Hospital Name</option>
                            </select>

                            <button type="submit" id="SaveSlotBookFormD2" class="book-form-submit mt-3">Book Slot</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@* 8th row: toast alert messages *@
<div class="row">
    @if(!string.IsNullOrEmpty(ViewBag.WelcomeMessage))
    {
        <div id="welcomeMessage" class="toast position-fixed top-0 end-0 m-5" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i style="color: #52734D;" class="far fa-smile"></i> 
                <strong style="color: #52734D;" class="me-auto mx-2">Login Attempt: Success</strong>
                @* <small>11 mins ago</small> *@
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ViewBag.WelcomeMessage
            </div>
        </div>
    }

    @if(!string.IsNullOrEmpty(ViewBag.UserProfileUpdateSuccessMsg))
    {
        <div id="userProfileUpdateSuccessMsg" class="toast position-fixed top-0 end-0 m-5" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i style="color: #52734D;" class="far fa-smile"></i> 
                <strong style="color: #52734D;" class="me-auto mx-2">Profile Update: Success</strong>
                @* <small>11 mins ago</small> *@
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ViewBag.UserProfileUpdateSuccessMsg
            </div>
        </div>
    }

    @if(!string.IsNullOrEmpty(ViewBag.UserProfileUpdateErrorMsg))
    {
        <div id="userProfileUpdateErrorMsg" class="toast position-fixed top-0 end-0 m-5" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i style="color: #FF5200;" class="far fa-frown"></i>
                <strong style="color: #FF5200;" class="me-auto mx-2">Profile Update: Failed</strong>
                @* <small>11 mins ago</small> *@
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ViewBag.UserProfileUpdateErrorMsg
            </div>
        </div>
    }

    @if(!string.IsNullOrEmpty(ViewBag.BookingStatusMsg))
    {
        <div id="bookingStatusMsg" class="toast position-fixed top-0 end-0 m-5" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i style="color: #0E185F;" class="fas fa-exclamation-triangle"></i>
                <strong style="color: #0E185F;" class="me-auto mx-2">Slot Booking: Success</strong>
                @* <small>11 mins ago</small> *@
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ViewBag.BookingStatusMsg
            </div>
        </div>
    }

</div>




@section Scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @* toast alert messages JS *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Show welcome message toast
            var _welcomeMessage = document.getElementById('welcomeMessage');
            if (_welcomeMessage) {
                var welcomeToast = new bootstrap.Toast(_welcomeMessage);
                welcomeToast.show();
            }

            // Show profile update success message toast
            var _userProfileUpdateSuccessMsg = document.getElementById('userProfileUpdateSuccessMsg');
            if (_userProfileUpdateSuccessMsg) {
                var userProfileUpdateToast = new bootstrap.Toast(_userProfileUpdateSuccessMsg);
                userProfileUpdateToast.show();
            }

            // Show profile update error message toast
            var _userProfileUpdateErrorMsg = document.getElementById('userProfileUpdateErrorMsg');
            if (_userProfileUpdateErrorMsg) {
                var userProfileUpdateErrorMsg = new bootstrap.Toast(_userProfileUpdateErrorMsg);
                userProfileUpdateErrorMsg.show();
            }

            // Show slot booking status message toast
            var _bookingStatusMsg = document.getElementById('bookingStatusMsg');
            if (_bookingStatusMsg) {
                var bookingStatusMsg = new bootstrap.Toast(_bookingStatusMsg);
                bookingStatusMsg.show();
            }

        });
    </script>

    @* show userprofile editable field and update user profile picture *@
    <script type="text/javascript">
        function triggerFileInput() {
            document.getElementById('profileImage').click();
        }

        function handleFileChange(event) {
            // user profile pic
            const fileInput = event.target;
            const file = fileInput.files[0];

            // user id
            var url = window.location.href;
            var userId = url.substring(url.lastIndexOf('/') + 1);

            if (file) {
                // Create FormData object
                var formData = new FormData();
                formData.append('userid', userId);
                formData.append('profileImage', file);
                formData.append('password', 'Abc!123'); 

                // Send the data using AJAX
                $.ajax({
                    url: '/UserProfile/' + userId + '/Edit',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        if (data.success) {
                            window.location.href = '/UserProfile/' + userId; // Redirect to UserProfile page
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function(data) {
                        alert('An error occurred.');
                    }
                });
            }
        }
    </script>

    @* show userphone editable fields *@
    <script type="text/javascript">
        $(document).ready(function(){
            var userphoneEnableEditButton = $('#userphone-enable-edit');
            var userphoneDisableEditButton = $('#userphone-disable-edit'); 
            var userphoneNonEditableField = document.getElementById('userphone-non-editable-field');
            var userPhoneEditableField = document.getElementById('userphone-editable-field');

            var userbirthdateEnableEditButton = $('#userbirthdate-enable-edit');
            var userbirthdateDisableEditButton = $('#userbirthdate-disable-edit'); 
            var userbirthdateNonEditableField = document.getElementById('userbirthdate-non-editable-field');
            var userbirthdateEditableField = document.getElementById('userbirthdate-editable-field');

            userphoneEnableEditButton.on('click', function(){
                userphoneNonEditableField.style.display = 'none';
                userPhoneEditableField.style.display = 'block';
            });

            userphoneDisableEditButton.on('click', function(){
                userphoneNonEditableField.style.display = 'block';
                userPhoneEditableField.style.display = 'none';
            })

            userbirthdateEnableEditButton.on('click', function(){
                userbirthdateNonEditableField.style.display = 'none';
                userbirthdateEditableField.style.display = 'block';
            });

            userbirthdateDisableEditButton.on('click', function(){
                userbirthdateNonEditableField.style.display = 'block';
                userbirthdateEditableField.style.display = 'none';
            });

        });
    </script>

    @* submit updated userphone and userbirthdate values *@
    <script type="text/javascript">

        // update user phone
        document.getElementById('update-userphone-submit').addEventListener('click', function(event){
            event.preventDefault(); // Prevent the default form submission

            // Collect values
            const updatedValue = document.getElementById('update-userphone-value').value;

            // User ID
            var url = window.location.href;
            var userId = url.substring(url.lastIndexOf('/') + 1);

            // Send the data using AJAX
            $.ajax({
                url: '/UserProfile/' + userId + '/Edit',
                type: 'POST',
                data: {
                    userid: userId,
                    phoneNumber: updatedValue,
                    profileImage: null,
                    password: 'Abc!123'
                },
                success: function(data) {
                    if (data.success) {
                        window.location.href = '/UserProfile/' + userId; // Redirect to UserProfile page
                    } else {
                        alert(data.message);
                    }
                },
                error: function(data) {
                    alert('An error occurred.');
                }
            });
        });

        // update user birthdate
        document.getElementById('update-userbirthdate-submit').addEventListener('click', function(event){
            event.preventDefault(); // Prevent the default form submission

            // Collect values
            const updatedValue = document.getElementById('update-userbirthdate-value').value;

            // User ID
            var url = window.location.href;
            var userId = url.substring(url.lastIndexOf('/') + 1);

            // Send the data using AJAX
            $.ajax({
                url: '/UserProfile/' + userId + '/Edit',
                type: 'POST',
                data: {
                    userid: userId,
                    dateOfBirth: updatedValue,
                    profileImage: null,
                    password: 'Abc!123'
                },
                success: function(data) {
                    if (data.success) {
                        window.location.href = '/UserProfile/' + userId; // Redirect to UserProfile page
                    } else {
                        alert(data.message);
                    }
                },
                error: function(data) {
                    alert('An error occurred.');
                }
            });
        });

    </script>


    @* dose 1 slot booking JS *@
    <script type="text/javascript">
        $(document).ready(function() {
            $('#HospitalLocationD1').change(function() {
                var selectedLocation = $(this).val();
                if (selectedLocation) {
                    $.ajax({
                        url: '@Url.Action("AvailableHospitalsByLocation", "UserProfile")',
                        type: 'GET',
                        data: { hospitalLocation: selectedLocation },
                        success: function(data) {
                            // console.log(data); Log the JSON data to the console
                            var hospitalDropdown = $('#HospitalIdD1');
                            hospitalDropdown.empty();
                            hospitalDropdown.append('<option value="">Select Hospital Name</option>');
                            $.each(data, function(index, hospital) {
                                hospitalDropdown.append('<option value="' + hospital.hospitalId + '">' + hospital.hospitalName + '</option>');
                            });
                        }
                    });
                } else {
                    $('#HospitalIdD1').empty();
                    $('#HospitalIdD1').append('<option value="">Select Hospital Name</option>');
                }
            });
        });
    </script>

    <script>
        document.getElementById('SaveSlotBookFormD1').addEventListener('click', function(event) {
            // Get the values from the form inputs
            var dose1Date = document.getElementById('Dose1BookDate').value;
            var hospitalLocation = document.getElementById('HospitalLocationD1').value;
            var hospitalId = document.getElementById('HospitalIdD1').value;

            if(dose1Date && hospitalLocation && hospitalId) {
                // Extract the user ID from the URL
                var url = window.location.href;
                var userId = url.substring(url.lastIndexOf('/') + 1);

                // Set the form action dynamically
                var form = document.getElementById('SlotBookForm');
                form.action = '/Booking/v2/' + userId;
            } else {
                event.preventDefault();
                alert('Please provide all inputs.');
            }
        });
    </script>

    @* dose 2 slot booking JS *@
    <script type="text/javascript">
        $(document).ready(function() {
            $('#HospitalLocationD2').change(function() {
                var selectedLocation = $(this).val();
                if (selectedLocation) {
                    $.ajax({
                        url: '@Url.Action("AvailableHospitalsByLocation", "UserProfile")',
                        type: 'GET',
                        data: { hospitalLocation: selectedLocation },
                        success: function(data) {
                            // console.log(data); Log the JSON data to the console
                            var hospitalDropdown = $('#HospitalIdD2');
                            hospitalDropdown.empty();
                            hospitalDropdown.append('<option value="">Select Hospital Name</option>');
                            $.each(data, function(index, hospital) {
                                hospitalDropdown.append('<option value="' + hospital.hospitalId + '">' + hospital.hospitalName + '</option>');
                            });
                        }
                    });
                } else {
                    $('#HospitalIdD1').empty();
                    $('#HospitalIdD1').append('<option value="">Select Hospital Name</option>');
                }
            });
        });
    </script>

    <script>
        document.getElementById('SaveSlotBookFormD2').addEventListener('click', function(event) {
            // Get the values from the form inputs
            var dose2Date = document.getElementById('Dose2BookDate').value;
            var hospitalLocation = document.getElementById('HospitalLocationD2').value;
            var hospitalId = document.getElementById('HospitalIdD2').value;

            if(dose2Date && hospitalLocation && hospitalId) {
                // Extract the user ID from the URL
                var url = window.location.href;
                var userId = url.substring(url.lastIndexOf('/') + 1);

                // Set the form action dynamically
                var form = document.getElementById('SlotBookFormD2');
                form.action = '/Booking/v2/' + userId + '/Update';
            } else {
                event.preventDefault();
                alert('Please provide all inputs.');
            }
        });
    </script>

}