@model v1Remastered.Dto.SupportDetailsDto_SupportForm

@{

}


@* main content: Support *@
<div class="container support">

    @* 1st row: introduction *@
    <div class="row support-page-description">
        <h5 style="color: #F0BB78;">Welcome, @ViewBag.UserName</h5>
    </div>

    @* 2nd row: ticket form *@
    <div class="row justify-content-center support-new-ticket mt-5">

        <div class="col-lg-6 col-md-10 col-sm-12">
            @* form: title and description *@
            <div class="title">
                <h5>
                    Raise Ticket 
                    <i class="icon-ticket fas fa-ticket-alt mx-2"></i>
                </h5>
            </div>

            @* form: raise new ticket *@
            <div class="form mt-4">
                @using (Html.BeginForm("RaiseNewTicket", "Support", new { userid = ViewBag.UserId }, FormMethod.Post))
                {
                    <div class="">
                        @Html.LabelFor(model => model.SupportTitle, "Short Description") <br>
                        @Html.TextBoxFor(model => model.SupportTitle, new { id = "shortDescription", @style = "width:100%;", @class = "form-input mt-1", placeholder = "Title/Short description" })
                        @Html.ValidationMessageFor(model => model.SupportTitle, null, new { @class = "mx-2 validation-msg" })
                    </div>

                    <div class="mt-2">
                        @Html.LabelFor(model => model.SupportDescription, "Description") <br>
                        @Html.TextAreaFor(model => model.SupportDescription, new { id = "description", @style = "width:100%; height: 150px; overflow-y: auto;", @class = "form-input mt-1", placeholder = "Enter your issue" })
                        @Html.ValidationMessageFor(model => model.SupportDescription, null, new { @class = "mx-2 validation-msg" })
                    </div>

                    <div class="mt-2">
                        <button style="width: 100%;" class="form-submit"><i style="rotate: -45deg;" class="fas fa-ticket-alt mx-2"></i>Raise Ticket</button>
                    </div>
                }
            </div>
        </div>

    </div>

    @* 3rd row: titcket list and view *@
    <div class="row tickets-list-and-view d-flex justify-content-between mt-5">
        
        @* ticket list *@
        <div class="support-tickets-list col col-lg-5 col-md-5 col-sm-5">
            <div class="title">
                <h5>
                    Tickets - List
                    <i class="icon-receipt fas fa-receipt"></i> 
                </h5>
            </div>
            <div class="mt-1" style="height:350px; overflow-y: auto;">
                @if(ViewBag.TicketsList != null && ViewBag.TicketsList.Count > 0)
                {
                    <table class="table table-hover">
                        <thead>
                            <th>Number</th>
                            <th>Created Date</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            @foreach(var record in ViewBag.TicketsList)
                            {
                                <tr class="viewTicketDetails" data-support-id="@record.SupportId">
                                    <td>@record.SupportId</td>
                                    <td>@record.SupportRaisedDate</td>
                                    <td>@record.SupportStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="support-ticket-list-empty">
                        <p style="color: #E1D7C6;" class="text-center">No Tickets For Now</p>
                    </div>
                }
            </div>
        </div>

        @* ticket detailed view *@
        <div class="support-ticket-view-block col col-lg-7 col-md-7 col-sm-7">
            <div class="title">
                <h5>
                    Ticket - View
                    <i class="fas fa-file-invoice"></i>
                </h5>
            </div>
            
            <div class="support-ticket-view">
                <p style="color: #E1D7C6;" class="text-center">Click On Ticket Form List Toast View </p>
            </div>
        </div>


    </div>



</div>



@* alert: toast messages *@
<div class="row">
    @if(!string.IsNullOrEmpty(ViewBag.TicketRaiseSuccessMsg))
    {
        <div id="ticketRaiseSuccessMsg" class="toast position-fixed top-0 end-0 m-5" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i style="color: #009990;" class="fas fa-people-carry"></i>
                <strong style="color: #009990;" class="me-auto mx-2">Ticket Creation: Success</strong>
                @* <small>11 mins ago</small> *@
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ViewBag.TicketRaiseSuccessMsg
            </div>
        </div>
    }
</div>


@section Scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    @* view selected ticket detials *@
    <script>
        $(document).ready(function() {
            $('.viewTicketDetails').click(function() {

                // Extract the user ID from the URL
                var url = window.location.href;
                var userId = url.substring(url.lastIndexOf('/') + 1);

                // Extract the supportId value
                var supportId = $(this).data('support-id');

                // Make the AJAX call
                $.ajax({
                    url: `/support/${userId}/TicketDetails/${supportId}`,
                    type: 'GET',
                    success: function(response) {
                        $('.support-ticket-view').html(response);
                    },
                    error: function(error) {
                        // Handle error
                        console.log(`$error: ${userId}, ${supportId}, ${url}`);
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>

    @* toast alert messages JS *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Show welcome message toast
            var _ticketRaiseSuccessMsg = document.getElementById('ticketRaiseSuccessMsg');
            if (_ticketRaiseSuccessMsg) {
                var ticketRaiseSuccessMsg = new bootstrap.Toast(_ticketRaiseSuccessMsg);
                ticketRaiseSuccessMsg.show();
            }
        });
    </script>


    
}