@model BookingFormModel

@{
    var lowerLimitd1 = DateTime.Now.ToString("yyyy-MM-dd");
    var upperLimitd2 = DateTime.Now.AddYears(1).ToString("yyyy-MM-dd");
}

<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col col-lg-4 col-md-6 col-sm-12">
            
            @* head *@
            <div class="text-center mt-4">
                <h1> SLOT BOOKING </h1>
            </div>

            @* slot booking form *@
            @using(Html.BeginForm("SlotBook", "Booking", FormMethod.Post))
            {
                @* dose 1 *@
                <div class="mt-5">
                    @Html.LabelFor(model=>model.Dose1Date, "Dose 1 Date", new {@style="color:gray"})
                    @Html.TextBoxFor(model => model.Dose1Date, new { @style="width:100%;", type = "date", @class = "slot-booking-form-input", min = lowerLimitd1, id = "Dose1Date", onchange = "setDose2MinDate()" })
                    @Html.ValidationMessageFor(model => model.Dose1Date, null, new {@class="slot-booking-form-validation-msg"}, null)
                </div>

                @* dose 2 *@
                <div class="mt-2">
                    @Html.LabelFor(model=>model.Dose2Date, "Dose 2 Date", new {@style="color:gray"})
                    @Html.TextBoxFor(model => model.Dose2Date, new { @style="width:100%;", type = "date", @class = "slot-booking-form-input", max = upperLimitd2, id = "Dose2Date" })
                    @Html.ValidationMessageFor(model => model.Dose2Date, null, new {@class="slot-booking-form-validation-msg"}, null)
                </div>

                @* submit *@
                <input type="submit" value="Book Slot" class="booking-form-submit mt-4" />
            }

            @* action buttons *@
            <div class="mt-1">
                <a href="@Url.Action("UserProfile", "Profile", new {username = ViewBag.Username})" class="">Go Back</a>
            </div>

        </div>
    </div>

</div>




@section Scripts {
    <script>
        document.getElementById('Dose1Date').addEventListener('change', function() {
            var dose1Date = this.value;
            var dose2DateInput = document.getElementById('Dose2Date');
            dose2DateInput.min = dose1Date;
        });

        function setDose2MinDate() {
        var dose1Date = document.getElementById("Dose1Date").value;
        document.getElementById("Dose2Date").min = dose1Date;
        }
    </script>
}
