@model IEnumerable<VaxTrack_v1.Models.AdminViewUserVaccinationDetails>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Username</td>
        <td>@item.BookingId</td>
        <td>@item.Dose1Date (<b>@item.D1HospitalName</b>)</td>
        <td>@item.Dose2Date (<b>@item.D2HospitalName</b>)</td>
        <td>@item.VaccinationStatus</td>
        <td>
            @if (item.VaccinationStatus == "Vaccinated")
            {
                <button class="btn btn-sm btn-success disabled">Approved</button>
            }
            else
            {
                <button class="btn btn-sm btn-danger">Approve</button>
            }
        </td>
    </tr>
}
