@{

}

<div class="container">

    <!-- home page: title and description -->

    <div class="row justify-content-center mt-5">

        @if(!string.IsNullOrEmpty(ViewBag.unauthorizedAction))
        {
            <div style="box-shadow: 0px 1px 10px #FFD369;" class="alert alert-warning text-center" role="alert">
                @ViewBag.unauthorizedAction
                <i class="fas fa-user-secret"></i>
            </div>
        }


        <!-- app title -->
        <div class="home-title-content text-center">
            <h1> 
                @ViewBag.appName for the India 
                <img style="margin-top:-10px; height: 30px; width: 30px;" src="../assets/india.png" alt="">
            </h1>
        </div>

        <!-- app desc -->
        <div class="home-body-content mt-3 text-center">
            <p> @ViewBag.appDescription </p>
        </div>

    </div>

    <!-- home page: actions liks -->

    <div class="row">

        @if (!User.Identity.IsAuthenticated)
        {
            <div class="home-action-links mt-5 text-center">
                <button id="home-btn-signin" class="home-btn-signin">Sign In</button>
                <button id="home-btn-signup" class="home-btn-signup">Sign Up</button>
            </div>
        }

    </div>

    <!-- home page: forms -->

    <div id="home-action-body" class="row">
        <!-- space for partial view -->
    </div>


    <!-- alert: toast message -->
    <div class="row">
        @if(!string.IsNullOrEmpty(ViewBag.PasswordResetSuccessMsg))
        {
            <div id="passwordResetSuccessMsg" class="toast position-fixed top-0 end-0 m-5" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i style="color: #35A29F;" class="fas fa-check-circle"></i> 
                    <strong style="color: #35A29F;" class="me-auto mx-2">Password Reset Attempt: Success</strong>
                    @* <small>11 mins ago</small> *@
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    @ViewBag.PasswordResetSuccessMsg
                </div>
            </div>
        }
    </div>

</div>


@section Scripts{

    @* display toast alert message *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var _passwordResetSuccessMsg = document.getElementById('passwordResetSuccessMsg');
            if (_passwordResetSuccessMsg) {
                var passwordResetSuccessMsg = new bootstrap.Toast(_passwordResetSuccessMsg);
                passwordResetSuccessMsg.show();
            }
        });
    </script>

    @* load and submit login and rgistration form, and submit password reset form *@
    <script>
        $(document).ready(function(){
            $(document).on('click', '#home-btn-signin', function() {
                $.ajax({
                    url: '@Url.Action("LoginUser", "Account")',
                    type: 'GET',
                    success: function(data) {
                        $('#home-action-body').html(data);
                        var btnSignup = document.getElementById('home-btn-signup');
                        btnSignup.style.color = '#FFFFFF'; // text color: white
                        btnSignup.style.backgroundColor = 'rgba(0,0,0,0)'; // bg color: none
                        btnSignup.addEventListener('mouseover', function() {
                            btnSignup.style.color = '#FFEA20';
                        });
                        btnSignup.addEventListener('mouseout', function() {
                            if (!btnSignup.classList.contains('active')) {
                                btnSignup.style.color = '#FFFFFF';
                            }
                        });

                        var btnSignin = document.getElementById('home-btn-signin');
                        btnSignin.style.color = '#9BEC00';
                        btnSignin.style.backgroundColor = 'rgba(0,0,0,0.3)';
                        btnSignin.style.padding = '10px'; 
                        btnSignin.style.borderRadius = '10%';
                        btnSignin.classList.add('active');
                    },
                    error: function(response) {
                        alert("Error loading login form.");
                    }
                });
            });

            $(document).on('click', '#home-btn-signup', function() {
                $.ajax({
                    url: '@Url.Action("RegisterUser", "Account")',
                    type: 'GET',
                    success: function(data) {
                        $('#home-action-body').html(data);
                        var btnSignin = document.getElementById('home-btn-signin');
                        btnSignin.style.color = '#FFFFFF';
                        btnSignin.style.backgroundColor = 'rgba(0,0,0,0)';
                        btnSignin.addEventListener('mouseover', function() {
                            btnSignin.style.color = '#9BEC00';
                        });
                        btnSignin.addEventListener('mouseout', function() {
                            if (!btnSignin.classList.contains('active')) {
                                btnSignin.style.color = '#FFFFFF';
                            }
                        });

                        var btnSignup = document.getElementById('home-btn-signup');
                        btnSignup.style.color = '#FFEA20';
                        btnSignup.style.backgroundColor = 'rgba(0,0,0,0.3)';
                        btnSignup.style.padding = '10px'; 
                        btnSignup.style.borderRadius = '10%';
                        btnSignup.classList.add('active');
                    },
                    error: function(response) {
                        alert("Error loading sign-up form.");
                    }
                });
            });

            $(document).on('submit', 'form', function(event) {
                event.preventDefault();
                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function(data) {
                        if (data.success) {
                            window.location.href = data.redirectUrl;
                        } else {
                            $('#home-action-body').html(data);
                        }
                    },
                    error: function(response) {
                        alert("Error submitting form.");
                    }
                });
            });
        });
    </script>

    @* load and submit reset password form *@
    <script>
        $(document).ready(function(){
            $(document).on('click', '#reset-password-link', function() {
                $.ajax({
                    url: '@Url.Action("ResetPassword", "Account")',
                    type: 'GET',
                    success: function(data){
                        
                        var btnSignup = document.getElementById('home-btn-signup');
                        btnSignup.style.color = '#FFFFFF'; // text color: white
                        btnSignup.style.backgroundColor = 'rgba(0,0,0,0)'; // bg color: none
                        btnSignup.addEventListener('mouseover', function() {
                            btnSignup.style.color = '#FFEA20';
                        });
                        btnSignup.addEventListener('mouseout', function() {
                            if (!btnSignup.classList.contains('active')) {
                                btnSignup.style.color = '#FFFFFF';
                            }
                        });

                        var btnSignin = document.getElementById('home-btn-signin');
                        btnSignin.style.color = '#FFFFFF';
                        btnSignin.style.backgroundColor = 'rgba(0,0,0,0)';
                        btnSignin.addEventListener('mouseover', function() {
                            btnSignin.style.color = '#9BEC00';
                        });
                        btnSignin.addEventListener('mouseout', function() {
                            if (!btnSignin.classList.contains('active')) {
                                btnSignin.style.color = '#FFFFFF';
                            }
                        });


                        $('#home-action-body').html(data);
                    },
                    error: function(xhr, status, error){
                        alert("Error loading password reset form: " + error);
                    }
                });
            });
        });
    </script>

    @* check password strength *@
    <script>
        $(document).on('input', '#Password', function () {
            var password = this.value;
            var strengthLabel = $('#passwordStrength');
            var strength = getPasswordStrength(password);
            strengthLabel.text(strength);
            strengthLabel.css('color', getStrengthColor(strength));
        });

        function getPasswordStrength(password) {
            var strength = "Weak";
            var regexes = [
                /[A-Z]/, // Uppercase
                /[0-9]/, // Digit
                /[^A-Za-z0-9]/, // Non-alphanumeric
                /.{6,}/ // At least 6 characters
            ];

            var passedTests = regexes.reduce((acc, regex) => acc + regex.test(password), 0);

            switch (passedTests) {
                case 4:
                    strength = "Highly Strong";
                    break;
                case 3:
                    strength = "Strong";
                    break;
                case 2:
                    strength = "Moderate";
                    break;
                default:
                    strength = "Weak";
            }

            return strength;
        }

        function getStrengthColor(strength) {
            switch (strength) {
                case "Highly Strong":
                    return "lime";
                case "Strong":
                    return "lightgreen";
                case "Moderate":
                    return "orange";
                case "Weak":
                default:
                    return "red";
            }
        }

        $(document).on('submit', '#registrationForm', function (e) {
            var password = $('#Password').val();
            var confirmPassword = $('#ConfirmPassword').val();
            if (password !== confirmPassword) {
                e.preventDefault();
                alert('Passwords do not match.');
            }
        });
    </script>
}
