@model v1Remastered.Dto.BookingDetailsDto_SlotBook

@{
    ViewBag.pageTitle = "book slot".ToUpper();
    ViewBag.pageDesc = "and get ready to defeat the COVID-19 ";
    var lowerLimitd1 = DateTime.Now.ToString("yyyy-MM-dd");
    var upperLimitd2 = DateTime.Now.AddYears(1).ToString("yyyy-MM-dd");
}

<div class="container">

    <div class="row mt-5 justify-content-center">

        <div class="col col-lg-3 col-md-6 col-sm-12">

            <div class="page-title text-center">
                <h3> @ViewBag.pageTitle </h3>
                <span style="font-size: 16px; color: cyan;">
                    @ViewBag.pageDesc <i class="icon-clock far fa-clock"></i>
                </span>
            </div>

            <div class="book-form">
                @using(Html.BeginForm("Booking", "Booking", FormMethod.Post))
                {
                    @* dose 1 *@
                    <div class="mt-5">
                        @Html.LabelFor(model=>model.Dose1BookDate, "Dose 1 Date", new {@style="color:white"})
                        @Html.TextBoxFor(model => model.Dose1BookDate, new { @style="width:100%;", type = "date", @class = "book-form-input", min = lowerLimitd1, id = "Dose1Date", onchange = "setDose2MinDate()" })
                        @Html.ValidationMessageFor(model => model.Dose1BookDate, null, new {@class="validation-msg"}, null)
                    </div>

                    @* dose 2 *@
                    <div class="mt-2">
                        @Html.LabelFor(model=>model.Dose2BookDate, "Dose 2 Date", new {@style="color:white"})
                        @Html.TextBoxFor(model => model.Dose2BookDate, new { @style="width:100%;", type = "date", @class = "book-form-input", max = upperLimitd2, id = "Dose2Date" })
                        @Html.ValidationMessageFor(model => model.Dose2BookDate, null, new {@class="validation-msg"}, null)
                    </div>

                    @* submit *@
                    <input type="submit" value="Book Slot" class="book-form-submit mt-4" />
                }
            </div>

             @* action buttons *@
            <div class="mt-1 d-flex justify-content-end">
                <a style="color:aqua" href="javascript:void(0);" onclick="window.history.back();" class="">Go Back</a>
            </div>

        </div>

    </div>

</div>

@section Scripts{

    <script>
        function setDose2MinDate() {
            var dose1Date = document.getElementById("Dose1Date").value;
            var dose2DateInput = document.getElementById("Dose2Date");
            dose2DateInput.min = dose1Date;
            dose2DateInput.value = ""; // Reset the second dose date input
        }
    </script>
}