@{
    ViewBag.pageTitle = "admin dashboard".ToUpper();
    ViewBag.pageDesc = "This page serves as a comprehensive and professional dashboard designed to provide detailed insights into our campaign to combat COVID-19. The primary purpose of this dashboard is to monitor and approve the user's pending approvals and also to update the available slots of vaccine centers on requirement basis.";
    ViewBag.OtherGenderCount = ViewBag.TotalUsersCount - (ViewBag.TotalMaleUsersCount + ViewBag.TotalFemaleUsersCount);
}

<div class="container">

    @* 0th row *@
    @* welcome message *@
    @if(!string.IsNullOrEmpty(ViewBag.WelcomeMessage))
    {
        <div class="row">
            <div id="welcomeMessage" style="padding:none; box-shadow: 0px 1px 10px lime;" class="alert alert-success text-center" role="alert">
                <span> 
                    <b> @ViewBag.WelcomeMessage </b>
                    <i class="far fa-smile"></i> 
                </span>
            </div>
        </div>
    }

    @* 1st row *@
    @* page title and description *@
    <div class="row justify-content-center mt-5">

        @* 1st row, 1st col *@
        <div class="col col-lg-6 col-md-10 col-12">
            <div class="admin-desc">
                <h3 class="text-center">@ViewBag.pagetitle <i class="icon-analytics fas fa-chart-line"></i></h3>
                <p class="admin-desc-content mt-4"> 
                    @ViewBag.pageDesc 
                    <i class="icon-jet fas fa-fighter-jet"></i>
                </p>
            </div>
        </div>

    </div>


    @* 2nd row *@
    @* application status *@
    <div class="row mt-4">
        <h4 class="admin-app-stats-head text-center"> USAGE ANALYTICS </h4>

        @* Doughnut chart: total user, users with slot booked and without slot booked *@   
        <div class="col col-lg-4 col-md-6 col-sm-12 mt-4">
            <h5 style="color: white;">Users Status: Slots Booking</h5>

            <div style="width: 250px; height: 250px;">
                <canvas id="slotBookingChart" style="height: 100%; width: 100%;"></canvas>
            </div>

            <p>
                <span style="color: white;">Total Users:</span> 
                <b style="color: white;"> @ViewBag.TotalUsersCount </b>
            </p>

        </div>

        @* Doughnut chart: user approved slots, pending slots *@
        <div class="col col-lg-4 col-md-6 col-sm-12 mt-4">
        
            <h5 style="color: white;">Users Status: Pending / Approved Slots</h5>

            <div style="width:250px; height: 250px;">
                <canvas id="slotApproveChart" style="height: 100%; width: 100%;"></canvas>
            </div>

            <p>
                <span style="color: white;">Total Vaccinated Users:</span>
                <b style="color:white;">@ViewBag.TotalUsersCountWithApprovedSlots</b>
            </p>

        </div>

        @* Bar chart: male and female users count *@
        <div class="col col-lg-4 col-md-6 col-sm-12 mt-4">
            <h5 style="color: white;">Users Status: Gender Counts</h5>

            <div style="width: 250px; height: 250px;">
                <canvas id="userGenderChart" style="height: 100%; width: 100%;"></canvas>
            </div>

            <p>
                <span style="color: white;">Users Genders (M/F/O):</span>
                <b style="color: white; font-size: 14px;">
                    @ViewBag.TotalMaleUsersCount/ 
                    @ViewBag.TotalFemaleUsersCount/ 
                    @if(ViewBag.OtherGenderCount == 0)
                    {
                        <p>0</p>
                    }
                    else { @ViewBag.OtherGenderCount }
                </b>
            </p>
        </div>


    </div>

    @* 3rd row *@
    @* action panel - 1 *@
    <div class="action-panel-1 row mt-5 justify-content-center">
        <h4 class="admin-action-panel-head text-center">ACTION PANEL</h4>

        @* users list with pending approval *@
        <div class="col col-lg-10 col-md-12 col-sm-12 mt-4">
            <h5 class="text-center"> Registered Users: Booking Details </h5>
            
            
            <div style="overflow-y: auto; border-bottom: 1px solid lightyellow;">
                <table class="admin-approve-table table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>Name</th>
                            <th>Users Id</th>
                            <th>Booking Id</th>
                            <th>Dose 1 Date (Vaccine Center)</th>
                            <th>Dose 2 Date (Vaccine Center)</th>
                            <th>Vaccination Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="actionApproveTable"> 
                        @if(ViewBag.UsersWithPendingApproval.Count > 0)
                        {
                            @foreach(var record in ViewBag.UsersWithPendingApproval)
                            {
                                <tr class="text-center">
                                    <td>@record.Username</td>
                                    <td>@record.UserId</td>
                                    <td>@record.BookingId</td>
                                    <td>@record.Dose1Date (<b>@record.D1HospitalName</b>)</td>
                                    <td>@record.Dose2Date (<b>@record.D2HospitalName</b>)</td>
                                    <td>
                                        @if(record.UserVaccinationStatus == 0 || record.UserVaccinationStatus == 1)
                                        {
                                            <span>Pending</span>
                                        }
                                        else
                                        {
                                            <span>Approved</span>
                                        }
                                    </td>
                                    <td>
                                        @if(record.UserVaccinationStatus == 0 || record.UserVaccinationStatus == 1)
                                        {
                                            <button class="approveButton btn btn-sm btn-danger" data-userid="@record.UserId" data-bookingid="@record.BookingId">Approve</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-sm btn-success disabled">Approved</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="text-center">
                                <td colspan="7">
                                    <h5 style="color:green; text-shadow: 0px 1px 10px yellowgreen;"> no records/slots token approve for now </h5>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @* 4th row *@
    @* action panel - 2 *@
    <div class="action-panel-2 row mt-3 justify-content-center">

        @* hospitals list with available slot details *@
        <div class="col col-lg-10 col-md-12 col-sm-12 mt-4">
            <h5 class="text-center">Hospital Details: Name and Slots Details</h5>

            <div style="overflow-y: auto; border-bottom: 1px solid cyan;">
                <table class="admin-update-hospitals table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>Hospital ID</th>
                            <th>Hospital Name</th>
                            <th>Slots Available</th>
                            <th>Increase Slots</th>
                        </tr>
                    </thead>
                    <tbody id="actionUpdateSlots">
                        @foreach(var record in ViewBag.FetchedHospitalsDetails)
                        {
                            <tr class="text-center">
                                <td>@record.HospitalId</td>
                                <td>@record.HospitalName</td>
                                <td>@record.HospitalAvailableSlots</td>
                                <td>
                                    <input type="number" id="increaseSlots_@record.HospitalId" class="admin-slot-update-input" />
                                    <button type="button" id="increaseSlots" onclick="increaseSlots(@record.HospitalId)" class="admin-slot-update-submit">Update Slots</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    
    <script>
        window.onload = function() {
            setTimeout(function() {
                var welcomeMessage = document.getElementById('welcomeMessage');
                if (welcomeMessage) {
                    welcomeMessage.style.display = 'none';
                }
            }, 5000); // 5000 milliseconds = 5 seconds
        };
    </script>




    <script>
        $(document).ready(function() {
            // Approve booked slots
            $(document).on('click', '.approveButton', function() {
                var userId = $(this).data('userid');
                var bookingId = $(this).data('bookingid');
                $.ajax({
                    url: '@Url.Action("ApproveSlotBook", "Admin")',
                    type: 'POST',
                    data: {
                        userId: userId,
                        bookingId: bookingId,
                        // __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() // Include anti-forgery token
                    },
                    success: function(data) {
                        $('#actionApproveTable').html(data);
                    },
                    error: function(response) {
                        alert("Error approving slot booking.");
                    }
                });
            });

            // Increase slots
            $(document).on('click', '#increaseSlots', function() {
                var hospitalId = "H" + $(this).attr('onclick').match(/\d+/)[0];
                var increaseValue = $('#increaseSlots_' + hospitalId).val();
                $.ajax({
                    url: '@Url.Action("IncreaseSlots", "Admin")',
                    type: 'GET',
                    data: { 
                        hospitalId: hospitalId, 
                        increaseBy: increaseValue,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() // Include anti-forgery token               
                    },
                    success: function(data) {
                        $('#actionUpdateSlots').html(data);
                    },
                    error: function() {
                        alert("An error occurred while increasing slots.");
                    }
                });
            });

            // Charts
            var totalUsersCount = @ViewBag.TotalUsersCount;
            var totalUsersCountWithSlotBooked = @ViewBag.TotalUsersCountWithSlotBooked;
            var totalUsersCountWithoutSlotBooked = totalUsersCount - totalUsersCountWithSlotBooked;
            var totalUsersCountWithApprovedSlots = @ViewBag.TotalUsersCountWithApprovedSlots;
            var totalUsersCountWithoutApprovedSlots = totalUsersCountWithSlotBooked - totalUsersCountWithApprovedSlots;

            var maleGenderCount = @ViewBag.TotalMaleUsersCount;
            var femaleGenderCount = @ViewBag.TotalFemaleUsersCount;
            var otherGenderCount = totalUsersCount - (maleGenderCount + femaleGenderCount);

            // User status chart with/without slot booking
            var ctx0 = document.getElementById('slotBookingChart').getContext('2d');
            var slotBookingChart = new Chart(ctx0, {
                type: 'doughnut',
                data: {
                    labels: ['Users with slot booked', 'Users without slot booked'],
                    datasets: [{
                        data: [totalUsersCountWithSlotBooked, totalUsersCountWithoutSlotBooked],
                        backgroundColor: ['limegreen', 'orange']
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: '',
                        fontColor: 'white'
                    },
                    legend: {
                        labels: {
                            fontColor: 'white'
                        }
                    }
                }
            });

            // User status chart with/without slot approved
            var ctx1 = document.getElementById('slotApproveChart').getContext('2d');
            var slotApproveChart = new Chart(ctx1, {
                type: 'doughnut',
                data: {
                    labels: ['Users slots approved', 'Users slots pending'],
                    datasets: [{
                        data: [totalUsersCountWithApprovedSlots, totalUsersCountWithoutApprovedSlots],
                        backgroundColor: ['cyan', 'yellow']
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: '',
                        fontColor: 'white'
                    },
                    legend: {
                        labels: {
                            fontColor: 'white'
                        }
                    }
                }
            });

            // User gender status
            var ctx2 = document.getElementById('userGenderChart').getContext('2d');
            var userGenderChart = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    labels: ['Male', 'Female', 'Others'],
                    datasets: [{
                        data: [maleGenderCount, femaleGenderCount, otherGenderCount],
                        backgroundColor: ['tomato', 'seagreen', 'lightgray']
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: '',
                        fontColor: 'white'
                    },
                    legend: {
                        labels: {
                            fontColor: 'white'
                        }
                    }
                }
            });
         
        });
    </script>


    @* <script>
        $(document).ready(function() {
            $(document).on('click', '.approveButton', function() {
                var userId = $(this).data('userid');
                var bookingId = $(this).data('bookingid');
                $.ajax({
                    url: '@Url.Action("ApproveSlotBook", "Admin")',
                    type: 'POST',
                    data: {
                        userId: userId,
                        bookingId: bookingId,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() 
                    },
                    success: function(data) {
                        $('#actionApproveTable').html(data);
                    },
                    error: function(response) {
                        alert("Error");
                    }
                });
            });

            $(document).on('click', '#increaseSlots', function() {
                var hospitalId = "H" + $(this).attr('onclick').match(/\d+/)[0];
                var increaseValue = $('#increaseSlots_' + hospitalId).val();
                    $.ajax({
                        url: '@Url.Action("IncreaseSlots", "Admin")',
                        type: 'GET',
                        data: { 
                            hospitalId: hospitalId, 
                            increaseBy: increaseValue,
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()              
                        },
                        success: function(data) {
                            $('#actionUpdateSlots').html(data);
                        },
                        error: function() {
                            alert("An error occurred while increasing slots.");
                        }
                    });
                });
            });

            var totalUsersCount = @ViewBag.TotalUsersCount;
            var totalUsersCountWithSlotBooked = @ViewBag.TotalUsersCountWithSlotBooked;
            var totalUsersCountWithoutSlotBooked = totalUsersCount - totalUsersCountWithSlotBooked;
            var totalUsersCountWithAppovedSlots = @ViewBag.TotalUsersCountWithApprovedSlots;
            var totalUsersCountWithoutAppovedSlots = totalUsersCountWithSlotBooked - @ViewBag.TotalUsersCountWithApprovedSlots;

            var maleGenderCount = @ViewBag.TotalMaleUsersCount;
            var femaleGenderCount = @ViewBag.TotalFemaleUsersCount;
            var otherGenderCount = totalUsersCount - ( maleGenderCount + femaleGenderCount);

            var ctx0 = document.getElementById('slotBookingChart').getContext('2d');
            var slotBookingChart = new Chart(ctx0, {
                type: 'doughnut',
                data: {
                    labels: ['Users with slot booked', 'Users without slot booked'],
                    datasets: [{
                        data: [totalUsersCountWithSlotBooked, totalUsersCountWithoutSlotBooked],
                        backgroundColor: ['limegreen', 'orange'],
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: '',
                        fontColor: 'white'
                    },
                    legend: {
                        labels: {
                            fontColor: 'white' // Change this to your desired color
                        }
                    },
                }
            });

            var ctx1 = document.getElementById('slotApproveChart').getContext('2d');
            var slotApproveChart = new Chart(ctx1, {
                type: 'doughnut',
                data: {
                    labels: ['Users slots approved', 'Users slots pending'],
                    datasets: [{
                        data: [totalUsersCountWithAppovedSlots, totalUsersCountWithoutAppovedSlots],
                        backgroundColor: ['cyan', 'yellow'],
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: '',
                        fontColor: 'white'
                    },
                    legend: {
                        labels: {
                            fontColor: 'white' // Change this to your desired color
                        }
                    },    
                }
            });

            var ctx2 = document.getElementById('userGenderChart').getContext('2d');
            var userGenderChart = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    labels: ['Male', 'Female', 'Others'],
                    datasets: [{
                        data: [maleGenderCount, femaleGenderCount, otherGenderCount],
                        backgroundColor: ['tomato','seagreen','lightgray']
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: '',
                        fontColor: 'white'
                    },
                    legend: {
                        labels: {
                            fontColor: 'white'
                        }
                    },    
                }
            });

    </script> *@
}

